<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.practice.com.signaturelibrary">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application>

        <activity android:name="android.practice.com.signaturelibrary.SignActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden"
            ></activity>

    </application>

</manifest>